.searchContainer {
  margin: 20px auto;
  width: 300px;
  position: relative;
}
.inputField {
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 0.5em 1.2em;
  width: 100%;
  outline: none;
  font-size: 1em;
  color: #393e46;
}
